*.exe
*.dll
*.mdb
*.suo
*.pidb
*.user
*.userprefs
bin/
obj/
dbus-sharp-glib-1.0.pc
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
configure
config.guess
config.log
config.status
config.sub
INSTALL
install-sh
missing
src/AssemblyInfo.cs
